module.exports = {
    serverPort: 8080,
    sentryEndpoint: null,
    markdownFolder: __dirname + '/markdown/', 
    articlesFolder: __dirname + '/ui/articles/',
    templatesFolder: __dirname + '/ui/templates/',
    staticFolder: __dirname + '/ui/static/'
}