module.exports = {
    serverPort: 8080,
    sentryEndpoint: null,
    markdownFolder: __dirname + '/markdown/', 
    postsFolder: __dirname + '/ui/posts/',
    templatesFolder: __dirname + '/ui/templates/',
    staticFolder: __dirname + '/ui/static/',
    picturesFolderUrl: 'http://localhost:8080/static/pictures/',
    pictureWidths: [300, 600, 1200, 2400]
}