<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel='stylesheet' href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/cards.css">
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://sachinchoolur.github.io/lightGallery/lightgallery/css/lightgallery.css">

    <style>
        .wallpaper {
            background: url(/static/pictures/nz1-300.jpg) fixed no-repeat;
            background-size: cover;
            background-position-y: 50%;
            transition: background 0.5s ease;
            position: fixed;
            width: 100%;
            height: 100%;
            opacity: 0.3;
        }

        .lightgallery {
            text-align: center;
        }

        .lightgallery .item {
            width: 33%;
            height: 200px;
            overflow: hidden;
            display: inline-block;
            cursor: pointer;
        }

        .lightgallery .item img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    </style>
</head>

<!-- <body style="background-color: black; color: lemonchiffon"> -->
<body style="background-color: ghostwhite;">

<div class="wallpaper async-image" data-responsive="/static/pictures/nz1-300.jpg 300, /static/pictures/nz1-600.jpg 600, 
static/pictures/nz1-1200.jpg 1200, static/pictures/nz1-1800.jpg 1800, static/pictures/nz1-2400.jpg 2400, static/pictures/nz1.jpg">
<img style="display: none;" src="/static/pictures/nz1-300.jpg"/>
</div>

<div class="header-title">
    <section class="hero is-medium has-text-centered">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">Nouvelle-Zélande</h1>
                <h3 class="subtitle is-3">Carnet de notes</h3>
            </div>
        </div>
    </section>
</div>

{% block content %}{% endblock %}

<footer class="footer" style="background-color: black; margin-top: 50px; padding: 50px;">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Page construite avec l'aide du <strong>framework CSS</strong> <a href="https://bulma.io/">Bulma</a>, 
        du <strong>plugin JS</strong> <a href="https://sachinchoolur.github.io/lightGallery/">lightGallery</a> 
        et du <strong>markdown converter</strong> <a href="http://showdownjs.com/">Showdown</a>.
      </p>
      <p>
        © cooya.fr, 2018. Tous droits réservés.
      </p>
    </div>
  </div>
</footer>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script> -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/lightgallery-all.min.js"></script>

<script>
    $(document).ready(function() {
        $('.lightgallery').lightGallery({
            preload: 3 // load 3 ajacent pictures for each direction
        });

        const viewportWidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
        const objects = document.getElementsByClassName('async-image');
        Array.from(objects).map((item) => {
            var dataResponsive = item.dataset.responsive;
            if(!dataResponsive) {
                console.error('An async image must have a "data-responsive" attribute.');
                return;
            }
            var pictures = dataResponsive.split(',');
            var selectedPictureUrl = null;
            for(var i = 0; i < pictures.length; ++i) {
                var urlAndBreakpoint = pictures[i].trim().split(' ');
                if(urlAndBreakpoint.length == 1 || Number.parseInt(urlAndBreakpoint[1]) > viewportWidth) {
                    selectedPictureUrl = urlAndBreakpoint[0];
                    break;
                }
            }

            // Start loading image
            const img = new Image();
            img.src = selectedPictureUrl;
            console.log('Loading picture "' + img.src + '"...');
            
            // Once image is loaded replace the src of the HTML element
            img.onload = () => {
                item.classList.remove('async-image');
                return item.nodeName === 'IMG' ? item.src = img.src : item.style.backgroundImage = `url(${img.src})`;
            };
        });
    });
</script>
</body>
</html>
