<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel='stylesheet' href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/cards.css">
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://sachinchoolur.github.io/lightGallery/lightgallery/css/lightgallery.css">

    <style>
        .wallpaper {
            background: url(/static/pictures/nz1.jpg) fixed no-repeat;
            background-size: cover;
            background-position-y: 50%;
            position: fixed;
            width: 100%;
            height: 100%;
            opacity: 0.3;
        }

        .lightgallery {
            text-align: center;
        }

        .lightgallery .item {
            width: 33%;
            height: 200px;
            overflow: hidden;
            display: inline-block;
            cursor: pointer;
        }

        .lightgallery .item img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    </style>
</head>

<!-- <body style="background-color: black; color: lemonchiffon"> -->
<body style="background-color: ghostwhite;">

<div class="wallpaper">
</div>

<div class="header-title">
    <section class="hero is-medium has-text-centered">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">Nouvelle-Zélande</h1>
                <h3 class="subtitle is-3">Carnet de notes</h3>
            </div>
        </div>
    </section>
</div>

{% block content %}{% endblock %}

<footer class="footer" style="background-color: black; margin-top: 50px; padding: 50px;">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Page construite avec l'aide du <strong>framework CSS</strong> <a href="https://bulma.io/">Bulma</a>, 
        du <strong>plugin JS</strong> <a href="https://sachinchoolur.github.io/lightGallery/">lightGallery</a> 
        et du <strong>markdown converter</strong> <a href="http://showdownjs.com/">Showdown</a>.
      </p>
      <p>
        © cooya.fr, 2018. Tous droits réservés.
      </p>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script src="/static/js/lightgallery-all.min.js"></script>

<script>
    $(document).ready(function() {
        $('.lightgallery').lightGallery();
    });
</script>
</body>
</html>