{% extends "./base.twig" %}

{% block content %}

<div class="main-content">
    <div class="container is-widescreen">
        <div class="columns is-centered is-multiline">
            <div class="column is-8">
                <div class="post">
                    <div class="content">
                        {% include html_file %}
                    </div>
                </div>
                <!-- <nav class="has-text-right">
                    <a class="button" href="index.html">Back to Home</a>
                </nav> -->
            </div>
        </div>
    </div>
</div>

{% endblock %}