{% extends "./base.twig" %}

{% block content %}

<div class="main-content">
    <div class="container">
        <div class="columns is-centered is-mobile">
            <div class="column is-two-thirds is-11-mobile">
                <div class="post">
                    <div class="content">
                        {% include html_file %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}